body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;

}
/* top container */
.top-container {
    background-color: #3E8E7E;
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

#h1_top_container {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}
.asp_top_container {
    text-decoration: underline;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/* ***************BREAK*************** */

/* middle container */
.middle-container {
    background-color: #7CD1B8;
    color: black;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
#h3_middle_container {
    color: white;
}
.josh-profile-pic {
    height: 200px;
}

/* middle container skills icons */

.skill-row {
    position: relative;
}

.skills-icon {
    height: 200px;
    width: 200px;
}

.html {
    height: 200px;
    width: 200px;
}

.css {
    height: 200px;
    width: 200px;
}

.ruby-on-rails {
    height: 200px;
    width: 200px;
}

.javascript {
    height: 200px;
    width: 200px;
}

.react {
    height: 200px;
    width: 200px;
}



/* ***************BREAK*************** */

/* bottom container */
.bottom-container {
    background-color: #FABB51;
}

#h3_bottom_container {
    color: white;
}
/* ***************BREAK*************** */
p {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

/* bottom-container icons below */
.fa:hover {
    opacity: 0.7;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: white;
    color: grey;
  }

  .medium {
    background: #bb0000;
    color: white;
  }
  /* bottom-container icons above */