/* all below */
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}

p {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: #66BFBF;
    line-height: 2;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }

/* applied to all elements above */

/* top container */
.top-container {
    background-color: #3E8E7E;
    position: relative;
    padding-top: 100px;
    
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.h1-top-container {
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 2.5rem auto 0 auto;
    
}
.programmer-h2-top-container {
    font-size: 2.5rem;

}
.asp-h2-top-container {
    text-decoration: underline;
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/* ***************BREAK*************** */

/* middle container */
.middle-container {
    background-color: #7CD1B8;
    color: black;
}

.josh-profile-pic {
    width: 25%;
}

.hello {
    margin-top: 0px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.icons-frameworks-middle-container {
    /* float: left; */
}

.h3-frameworks-middle-container {
    color: #11999E;

}
.p-josh-middle-container {
    margin: 0 0 0 0;
}

.p-experienced-middle-container {
    margin: 32 0 0 0;
}

.p-frameworks-description-skill-row-middle-container {
    /* text-align: left; */
    /* line-height: 2; */
    /* clear: right; */
}

.p-photography-description-skill-row-middle-container {
    /* text-align: left; */
    /* line-height: 2; */
    /* clear: left; */
}


/* middle container skills icons below */
.skills-icon {
    height: 200px;
    width: 200px;
}
/* middle container frameworks below */
.html-icon {
    width: 25%;
    float: right;
    margin: 10px 10px 0 10px;
}

.css-icon {
    width: 25%;
    float: right;
    margin: 10px 10px 0 10px;
}

.ruby-icon {
    width: 25%;
    float: right;
    margin: 10px 10px 0 10px;
}

.javascript-icon {
    width: 25%;
    float: right;
    margin: 10px 10px 0 10px;
}

.react-icon {
    width: 25%;
    float: right;
    margin: 10px 10px 0 10px;
}
/* middle container frameworks above */
/* middle container photography icons below */
.camera-icon {
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.aperature-icon {
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.camera-lens-icon {
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.camera-flash-icon {
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.umbrella-flash-icon {
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* middle container photography icons above */

/* .middle-container skills icons above */

/* .middle-container contact-me  */
.contact-me-middle-container {
    /* margin-bottom: 30px; */
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    /* margin-bottom: 50px; */
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

/* .middle-container above */

/* .bottom-container below */
.bottom-container {
    background-color: #FABB51;
    /* margin: 10px 0 0 0; */
}
/* .hr-bottom-container {
    background-color: #7CD1B8;
} */

.footer-link {
    color: #11999E;
}

.footer-copyright {
    color: #11999E;
}
/* bottom-container icons below */
.fa:hover {
    opacity: 0.7;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: white;
    color: grey;
  }

  .medium {
    background: #bb0000;
    color: white;
  }
  /* bottom-container icons above */

  /* bottom-container footer-copyright below */

  .footer-copyright{
      color: #EAF6F6;
  }

/* bottom-container footer-copyright above*/

/* bottom-container above */