body {
    /* margin: 0px; */
}

.top_container {
    /* background-color: #A3DA8D; */
    /* border: solid 34px; */

}

.middle_container {
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom_container {
    background-color: blue;
    height: 200px;
    width: 200px;
}

#h1 {
    /* margin-top: 10px;
    padding: 20px; */
}

#middle_container {
    color: white;
}

#bottom_container {
    color: white;
}